:root {
    --cl-dark-bg: #000;
    --cl-dark-fg: #FFF;
    --cl-dark-border: #FFF;
    --cl-dark-on: #222288;
    --cl-dark-off: #000022;

    --cl-bg: var(--cl-dark-bg);
    --cl-fg: var(--cl-dark-fg);
    --cl-border: var(--cl-dark-border);
    --cl-on: var(--cl-dark-on);
    --cl-off: var(--cl-dark-off);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: var(--cl-bg);
    color: var(--cl-fg);
}

canvas {
    position: absolute;
    inset: 0;
    bottom: 32px;
}

#cl_toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--cl-bg);
    border-top: 1px solid var(--cl-border);
    height: 32px;
    display: flex;
    z-index: 1;

    button {
        aspect-ratio: 1;
        font-size: 18px;
    }

    .spacer {
        flex-grow: 1;
    }
}

#cl_options {
    width: 300px;
    background: var(--cl-bg);
    border: 1px solid var(--cl-border);
    position: absolute;
    right: 10px;
    bottom: 32px;
    z-index: 1;

    input {
        padding: 2px;
    }

    display: table;

    > p {
        display: flex;
        width: 100%;

        > * {
            width: 50%;
        }
    }
}

.cl_list {
    display: flex;

    button {
        width: 50px
    }
}
